<div id="container">
  <div class="card text-center">
    <div class="card-header">
      Create an account to access premium features!
    </div>
    <form action="/results" method="POST">
      <div class="card-body">
        <h5 class="card-title">Follow the trail!</h5>
        <input class="form-control form-control-lg" type="text" placeholder="Your band here" name="bandName">
        <button type="submit" class="btn btn-primary">Go somewhere</button>
      </div>
    </form>
  </div>
</div>
<div class="card-footer text-muted">
  CodeCamp Inc.
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/index.js"></script>