<link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

<div class="container w-50 mt-5">
  <div class="row align-items-center">

    <div class="w-100 local-solid">
      <form id="frm-login">
        <h1>Log In</h1>
        <div class="form-group">
          <label for="userName">User Name</label>
          <input type="text" class="form-control" id="username" placeholder="Enter User Name">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button id="btn-login" type="submit" class="btn btn-primary">Log In</button>
      </form>
      <hr>
      
      <div class="text-center">
        <a href="/signup"><h5>Sign Up</h5></a>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/login.js"></script>