.list-group-item {
  line-height: 2.5;
}

html{
  height: 100%;
}

body{
  /* background-image: url("https://steemitimages.com/p/3HaJVvr6qfoEFgBir1jy4DeK1wwhDm7oNHzc1b8roaJY8MKgxNFQXS6QeWjTctBJbRUt9hZFfHEGaM1jNATBSDbN8HtmB36GqbGGWB8?format=match&mode=fit"); */
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
}

#wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 120px;
}

.eseeThrew{
  background-color: blue;
  opacity: .5;
}

.local-solid{
  background-color: lightgray;
}

#map{
  margin-top: 30px;
  margin-left: 125px;
}
#container{
  background-color: fuchsia
}

footer, .push{
  height: 120px;
  width: 100%;
}

#mapContainer{
  background-image: url(https://i.ebayimg.com/images/i/281843686278-0-1/s-l1000.jpg);
  background-size: cover;
  
}

.band-card{
  min-width: 380px !important;
  margin: 20px !important;
}
